@charset "utf-8";

.header{
  background-color: #fff;
  display: inline-block;
}

.fas{
  padding: 15px;
  color: #777;
  justify-content: center;
}

.contact{
  color: #ffffff;
  background-color:#6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.key-visual{
  width: 100%;
  background-image: url(../img/keyvisual/keyvisual.jpg);
  text-align: center;
}

.title{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  padding-top: 400px;
  padding-bottom: 30px;
}

.title2{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 400px;
}

/*WORKのタイトルの部分*/
.work{
  display: flex;
  background-color: #e3f2fd;
  width: 100%;
}

.icon-1{
  padding-top: 50px;
  width: 100%;
}

.img{
  width: 250px;
  height: 250px;
}

.beside{
  float: right;
  text-align: center;
  margin: auto;
}

.title3{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  padding: 20px 0 35px 0;
}

.title4{
  font-size: 15px;
  line-height: 18px;
  word-break:break-all;
  margin: 0 auto;
}

/*SKILLSのところ*/
.skills{
  background: #fff;
}

.title5{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 50px;
}

.container{
  display: grid;
  place-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 100px;
}

.skill-lists{
  padding-top: 50px;
  width: 300px;
  height: 300px;
}

/*SELECT PLANのところ*/