@charset "utf-8";

header{
  background-color: #fff;
}

.fas{
  padding: 15px 0 15px 0;
  color: #777;
  margin: auto;
}

.contact{
  color: #ffffff;
  background-color:#6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.key-visual{
  width: 100%;
  background-image: url(../img/keyvisual/keyvisual.jpg);
  text-align: center;
}

.title{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  padding-top: 400px;
  padding-bottom: 30px;
}

.title2{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 400px;
}

/*WORKのタイトルの部分*/
.work{
  display: flex;
  background-color: #e3f2fd;
  width: 100%;
}

.icon-1{
  padding-top: 50px;
  width: 100%;
}

.pc{
  width: 250px;
  height: 250px;
}

.inner{
  float: right;
  text-align: center;
  margin: auto;
}

.title3{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  padding: 20px 0 35px 0;
}

.title4{
  font-size: 15px;
  line-height: 18px;
  word-break:break-all;
  margin: 0 auto;
}

/*SKILLSのところ*/
.skills{
  background: #fff;
}

.title5{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 50px;
}

.container{
  display: grid;
  place-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 100px;
  padding-bottom: 70px;
}

.skill-lists{
  padding-top: 50px;
  width: 300px;
  height: 300px;
}

/*SELECT PLANのところ*/
.plan{
  background: #d0dfea;
  margin-top: 70px;
}

.title6{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-area{
  padding-bottom: 50px;
}

.cell-table{
  table-layout: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cell-table tr,th,td{
  border-collapse: collapse;
  border: 1px solid #ffffff;
  border-spacing:0;
  text-align: center;
  padding: 10px;
}

.cell-table th{
  font-size: 16px;
  line-height: 26px;
  background: #6ba7eb;
  border-left: 2px #fff;
}

.cell-table tbody td:first-child{
  font-weight: bold;
}

.cell-table tbody tr:nth-child(2n-1){
  background-color: #f9f9f9;
}

.cell-table tbody tr:nth-child(2n){
  background-color: #e0efff;
}

/*SNS icon*/
.sns{
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}

.social-media{
  display: flex;
  justify-content: center;
}

.fab{
  width: 185px;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  margin: 25px 0 25px 0;
  text-align: center;
}

footer{
  background-color: #cfd8dc;
  padding: 20px 100px 20px 0;
  text-align: right;
}